{% extends "base.html" %}
{% load static %}

{% block content %}
<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          {% if media.file_type == "0"%}
          <center><img class="img-fluid" src="{{media.file.url}}" alt="Image cap"></center>
          {% else %}
          <center><video src="{{media.file.url}}" height="600" controls></video></center>
          {% endif %}
          <h3>{{media.title}}</h3>
          <p class="card-text">{{media.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {% if media.author.username == request.user.username %}
              <a href="/media/{{media.id}}/edit/"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
              {% endif %}
            </div>
            <small class="text-muted">{{media.created}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
